html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
  color: #333333;
  line-height: 1.6;
  text-align: justify;
  text-justify: inter-word;
}

header {
  margin: 0 auto;

  /* height: 50vh; */
}

h1 {
  font-size: 5rem;
  margin: 0.2em 0 0.2em 0;
  font-weight: 800;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
  margin: 0.3em 0 0.3em 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 0.4em 0 0.4em 0;
}

p,
li {
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
}

.navigation {
  width: 100%;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  list-style-type: none;
  height: 100%;
  padding: 0;
  margin: 0;
}

.navigation-item {
  font-size: 1.5rem;
  font-weight: 600;
  height: 100%;
  text-transform: uppercase;
  margin: 0 0.5em 0 0.5em;
}
.navigation-item img {
  height: 3rem;
}

/* .how-to-contribute {
    width: 100vw;
} */

.image {
  width: 100%;
}

.contribute-container-img {
  width: 100%;
  flex: 1;
}

/* .small-about{
    padding-left:1em;
    
}  */

.container-box {
  flex: 1;
  flex-grow: 1;
  /* width: 50%; */
}

.container-iframe {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* .what-is {
    height: 25vh;
} */
.container-img {
  /* flex: 1;
    flex-grow: 1;  */
  width: 50%;
}

.title-banner {
  background-color: #e11a84;
  background: rgb(89, 88, 89);
  background: linear-gradient(
    0deg,
    rgba(89, 88, 89, 0) 8%,
    rgba(225, 26, 132, 1) 25%
  );
  color: white;
  padding: 3em 2em 6em 2em;
}

.title-banner__img {
  padding: 1em 1em 3em 1em;
}

.title-banner__img img {
  width: 18rem;
}

.title-banner__text {
  padding: 1em 2em 3em 2em;
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  height: 10vh;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

a {
  text-decoration: none;
}

footer {
  padding-top: 3rem;
}

.footer-ul {
  text-decoration: none;
  list-style: none;
  justify-content: space-around;
  display: flex;
  padding-inline-start: 0;
}

i {
  color: #e11a84;
}

.footer-container h1 {
  text-align: center;
  font-size: 2rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  :root {
    font-size: 12px;
  }
  .flex {
    flex-direction: column;
  }

  .how-to-contribute {
    flex-direction: column-reverse;
  }
  .title-banner__text {
    padding: 2em;
  }

  .title-banner__img {
    padding: 2em;
  }
}
@media only screen and (max-width: 768px) {
  .flex {
    flex-direction: column;
  }

  .how-to-contribute {
    flex-direction: column-reverse;
  }
  .small-about {
    padding-left: 0;
  }
  .container-box {
    width: 100%;
  }

  .title-banner__text {
    padding: 2em;
  }

  .title-banner__img {
    padding: 2em;
  }
  /*  .resp-iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }*/
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  :root {
    font-size: 14px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
